.experimentContainer {
    position: absolute;
    top: 15%;
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  
  .container h2 {
    font-size: 5rem;
  }
  
  .container a {
    font-size: 1.4rem;
  }
  
  