.navContainer {
  padding-top: 15px;
  width: 100vw;
  height: 75px;
  background: #db2828;
  font-weight: 700;
  color: #fff;
}

.navContainer a {
  opacity: 1;
  font-size: 1.2em;
}

.statusHeader {
  color: #fff;
}
