.homeContentContainer {
  padding-top: 50px !important;
  height: 100%;
}

.mainContainer {
  padding: 3%;
  height: 100vh;
  background: linear-gradient(#f9f9f9, #f0f0ff);
}

.mainContainer h2 {
  font-size: 5rem;
}

.mainContainer a {
  font-size: 1.4rem;
}

.mainSegment {
  width: 100%;
}

.contentGrid {
  height: 75%;
}

.inputDiv {
  margin: 15px;
}

.label {
  font-size: 14px !important;
  font-weight: bold;
  line-height: 17px;
}

.brainwavesLogo {
  height: auto;
  width: 250px;
  background-color: #007c70 !important;
}

.inputModal {
  font-size: 18px !important;
  width: 25% !important;
  text-align: center !important;
}

.descriptionContainer p {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 150px;
}

.descriptionContainer button {
  margin-right: 20px !important;
}

.infoSegment {
  padding: 0% !important;
  font-size: 18px !important;
}

.closeButton {
  border: none !important;
  box-shadow: none !important;
}

.jsPsychColumn {
  height: 100%;
}

.paramSlider {
  width: 200px;
}

.recentDirSegment {
  margin-left: 20px !important;
}

.experimentContainer {
  height: 100%;
}

.analyzeColumn {
  height: 100%;
}
