.homeContentContainer {
  padding-top: 20px !important;
  height: 100%;
  overflow-y: auto;
}

.mainContainer {
  padding: 3%;
  height: 100vh;
  background: linear-gradient(#f9f9f9, #f0f0ff);
}

.mainContainer h2 {
  font-size: 5rem;
}

.mainContainer a {
  font-size: 1.4rem;
}

.mainSegment {
  width: 100%;
}

.contentGrid {
  height: 95%;
}

.overviewImage {
  height: 140px !important;
}

.inputDiv {
  margin: 15px;
}

.label {
  font-size: 14px !important;
  font-weight: bold;
  line-height: 17px;
}

.appLogo {
  height: auto;
  width: 250px;
  background-color: #007c70 !important;
}

.inputModal {
  font-size: 18px !important;
  width: 25% !important;
  text-align: center !important;
}

.descriptionContainer p {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 130px;
}

.descriptionContainer button {
  margin-right: 20px !important;
}

.infoSegment {
  padding: 0% !important;
  font-size: 18px !important;
}

.plotSegment {
  padding: 0% !important;
  font-size: 18px !important;
}

.closeButton {
  border: none !important;
  box-shadow: none !important;
}

.jsPsychColumn {
  height: 100%;
  align-items: center;
}

.paramSlider {
  width: 200px;
}

.recentDirSegment {
  margin-left: 20px !important;
}

.experimentContainer {
  height: 100%;
}

.analyzeColumn {
  height: 100%;
}

.helpButton {
  height: 44px !important;
  width: 44px !important;
  color: #fff !important;
  background-color: #007c70 !important;
  border-radius: 22px !important;
}

.helpSidebar {
  height: inherit;
}

.helpHeader {
  margin-bottom: 18px !important;
}

.helpContent {
  font-size: 18px !important;
  height: 80%;
}

.experimentCard {
  border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
  border: 4px solid transparent;
}

.experimentCard:hover {
  border: 4px solid #007C70;
  cursor: pointer;
}

.experimentCardImage {
  align-self: center;
}

/* Header, Faces/Houses, Stroop, Mult-tasking, Visual Search */
.experimentCardHeader {
	color: #1A1A1A;
	font-family: Lato;
	font-size: 24px;
	letter-spacing: 0.86px;
	line-height: 29px;
}

/* Description copy */
.experimentCardDescription {
	color: #4A4A4A;
	font-family: Lato;
	font-size: 16px;
	letter-spacing: 0.57px;
	line-height: 24px;
}
