.homeContentContainer {
  padding-top: 20px !important;
  height: 100%;
  overflow-y: auto;
}

.mainContainer {
  padding: 3%;
  height: 100vh;
  background: linear-gradient(#f9f9f9, #f0f0ff);
}

.mainContainer h2 {
  font-size: 5rem;
}

.mainContainer a {
  font-size: 1.4rem;
}

.mainSegment {
  width: 100%;
}

.contentGrid {
  height: 90%;
}

.overviewImage {
  height: 140px !important;
}

.inputDiv {
  margin: 15px;
}

.label {
  font-size: 14px !important;
  font-weight: bold;
  line-height: 17px;
}

.appLogo {
  height: auto;
  width: 250px;
  background-color: #007c70 !important;
}

.inputModal {
  font-size: 18px !important;
  width: 25% !important;
  text-align: center !important;
}

.descriptionContainer p {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 130px;
}

.descriptionContainer button {
  margin-right: 20px !important;
}

.infoSegment {
  padding: 0% !important;
  font-size: 18px !important;
}

.plotSegment {
  padding: 0% !important;
  font-size: 18px !important;
}

.closeButton {
  border: none !important;
  box-shadow: none !important;
  display: grid;
  justify-content: end;
}

.previewWindow {
  height: inherit;
  align-items: center;
  margin-bottom: 20px;
  border: solid 1px #007c70;
  border-radius: 4px;
}

.experimentWindow {
  height: 100%;
  width: 100%;
}

.paramSlider {
  width: 200px;
}

.recentDirSegment {
  margin-left: 20px !important;
}

.experimentContainer {
  height: 100%;
}

.analyzeColumn {
  height: 100%;
}

.helpButton {
  height: 44px !important;
  width: 44px !important;
  color: #fff !important;
  background-color: #007c70 !important;
  border-radius: 22px !important;
}

.helpSidebar {
  height: inherit;
}

.helpHeader {
  margin-bottom: 18px !important;
}

.helpMenuItem {
  font-size: 18px !important;
  padding: 5px !important;
}

.helpContent {
  font-size: 18px !important;
  height: 80%;
}

.externalLinks {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.experimentCard {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border: 4px solid transparent;
}

.experimentCard:hover {
  border: 4px solid #007c70;
  cursor: pointer;
}

.experimentCardImage {
  align-self: center;
}

/* Header, Faces/Houses, Stroop, Mult-tasking, Visual Search */
.experimentCardHeader {
  color: #1a1a1a;
  font-family: Lato;
  font-size: 24px;
  letter-spacing: 0.86px;
  line-height: 29px;
}

/* Description copy */
.experimentCardDescription {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0.57px;
  line-height: 24px;
}

.noExperimentsImage {
  margin-top: 50px;
}

.noExperimentsTitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal !important;
  font-size: 24px !important;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: #1a1a1a;
}

.noExperimentsText {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1a1a1a;
}

.myExperimentsPage {
  padding-top: 50px !important;
}

.experimentRow {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  justify-content: left;
}

.experimentRowName {
  font-family: Lato;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 24px !important;
  letter-spacing: -0.2px;
  padding-left: 26px !important;
  border: 0px !important;
  padding-right: 10px !important;
}

.experimentHeaderName {
  padding-left: 26px !important;
}

.experimentHeaderRow {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.experimentTable {
  display: grid;
  grid-row-gap: 10px;
  align-items: center;
  grid-template-columns: 1fr;
}

.experimentHeaderActionsName {
  min-width: 495px !important;
}

.conditionsNameRow {
  font-family: Lato;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 24px !important;
  letter-spacing: -0.2px;
  color: #1a1a1a;
  padding-left: 26px !important;
  border: 0px !important;
  padding-right: 10px !important;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.conditionHeaderRowName {
  padding-left: 60px !important;
}

.conditionRow {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 300px 200px 1fr;
  align-items: center;
  justify-content: left;
}

.conditionHeaderRow {
  display: grid;
  grid-template-columns: 300px 200px 1fr;
  padding-left: 20px !important;
}

.trialsHeader {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  justify-items: end;
}

.trialsHeaderRow {
  display: grid;
  grid-template-columns: 1fr 1fr 180px 350px;
  padding-left: 20px !important;
}

.trialsRow {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 180px 350px;
  align-items: center;
  justify-content: left;
}

.trialsTrialTypeRow {
  font-family: Lato;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 24px !important;
  letter-spacing: -0.2px;
  color: #1a1a1a;
  padding-left: 26px !important;
  border: 0px !important;
  padding-right: 10px !important;
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  grid-column-gap: 30px;
}

.trialsTrialTypeSegment {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0 !important;
  padding: 10px 12px 10px 12px !important;
  border: 2px solid #cccccc !important;
  border-radius: 4px !important;
}

.trialsTrialTypeRowSelector {
  /* background-color: #EB1B66 !important; */
  color: white !important;
  /* background-color: `${this.props.phase === 'main' ? '#1AC4EF' : '#EB1B66'}; */
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: -0.2px !important;
  border-radius: 27px;
  padding: 0px 7px 0px 7px !important;
}

.trialsTable {
  display: grid;
  grid-row-gap: 10px;
  align-items: center;
  align-content: baseline;
  grid-template-columns: 1fr;
  overflow-y: scroll;
  max-height: 50vh;
}

.EEGToggle {
  transform: scale(0.7);
}

.selectedFolderContainer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column-gap: 10px;
  border: 2px solid #cccccc;
  padding: inherit;
  border-radius: 4px;
  width: fit-content;
}

.disconnectButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.trialsTopInfoBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
