.connectModal {
  color: #fff;
  font-size: 18px !important;
}

.connectHeader {
  font-size: 36px !important;
  letter-spacing: 1.29px !important;
  line-height: 44px !important;
  font-weight: normal !important;
}

.deviceItem {
  font-size: 18px !important;
}
