/* Secondary Nav related styles */

.secondaryNavContainer {
  margin-bottom: 0px !important;
}

.secondaryNavSegment {
  display: flex !important;
  justify-content: center !important;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 4px;
  font-size: 14px !important;
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.5px;
  min-width: fit-content;
}

.inactiveSecondaryNavSegment {
  color: #666666;
  border-color: #666666;
  border-bottom-color: rgba(255, 255, 255, 0);
}

.activeSecondaryNavSegment {
  color: #1a1a1a;
  border-bottom-color: #ffc107;
}

.inactiveSecondaryNavSegment:hover {
  color: #1a1a1a;
  border-bottom-color: #ffe69c;
}

.activeSecondaryNavSegment:hover {
}

.secondaryNavContainerExpName {
  font-family: Lato;
  font-style: normal;
  font-weight: normal !important;
  font-size: 24px !important;
  line-height: 29px !important;
  letter-spacing: -0.2px !important;
  color: #1a1a1a !important;
}

.settingsButtons {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.dropdownSettings {
  font-size: 27px;
  color: #666666;
  display: grid !important;
  align-items: center;
  padding-right: 20px;
}

.dropdownMenu {
  margin-left: 30px !important;
}

.dropdownItem {
  display: grid !important;
  grid-template-columns: 3fr 1fr !important;
  min-width: 240px !important;
  align-items: center;
}
