.navContainer {
  margin-top: 0px !important;
  position: relative;
  z-index: 999;
  height: 60px;
  background: #ffffff;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.09);
}

.statusHeader {
  color: #484848;
}

.navColumn {
  display: flex !important;
  justify-content: center;
  height: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.5px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 4px;
}

.initialNavColumn {
  color: #666666;
  border-color: #666666;
  border-bottom-color: #fff;
}

.visitedNavColumn {
  color: #1a1a1a;
  border-style: solid;
  border-bottom-color: #ffc107;
}

.activeNavColumn {
  color: #1a1a1a;
  border-bottom-color: #ffc107;
}

.initialNavColumn:hover {
  color: #1a1a1a;
  border-bottom-color: #ffe69c;
}

.numberBubble {
  font-size: 14px;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  height: 23px;
  width: 23px;
  margin-right: 10px;
  text-align: center;
}

.initialNavColumn .numberBubble {
  color: #cccccc;
  border: 2px solid #cccccc;
}

.visitedNavColumn .numberBubble {
  color: #666666;
  border: 2px solid #666666;
}

.activeNavColumn .numberBubble {
  color: #ffc107;
  border: 2px solid #ffc107;
}

.closeButton {
  border: none !important;
  box-shadow: none !important;
}

.experimentTitleGridColumn {
  /* white-space: nowrap; */
  display: flex !important;
  justify-content: center;
  height: inherit;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 17px;
  color: #1a1a1a;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 4px;
  border-bottom-color: #ffc107;
  width: inherit;
}

.homeButton {
  display: grid;
  justify-content: center;
  margin-left: 20px !important;
}

.exitWorkspaceBtn {
  font-family: Gothic A1 !important;
  font-style: normal !important;
  font-weight: 900 !important;
  font-size: 24px !important;
  line-height: 30px !important;
  color: #007c70 !important;
  border: none !important;
  height: 30px;
  min-width: 30px;
}
