/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~semantic-ui-css/semantic.min.css";
@import "~jspsych-react/css/jspsych.css";

body {
  position: relative;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  font-family: Lato, Helvetica Neue, serif;
  overflow-y: hidden;
}

#root {
  margin-top: 15px;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

p {
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.jspsych-display-element {
  width: 50% !important;
}

.ui.card {
  width: auto;
}

.ui.avatar.image {
  width: auto;
}

/* Semantic UI OVerrides */

.ui.secondary.button {
  color: #16996d !important;
  border: 2px solid #16996d;
  background-color: #ffffff;
}

.ui.secondary.button:hover {
  background-color: #e0fff5;
}

.ui.secondary.button:focus {
  background-color: #e0fff5;
}

.ui.secondary.button:active {
  background-color: #e0fff5;
}

.ui.primary.button {
  color: #e0fff5;
  background-color: #16996d;
}

.ui.primary.button:hover {
  background-color: #0b4d37;
}

.ui.primary.button:focus {
  background-color: #0b4d37;
}

.ui.primary.button:active {
  background-color: #0b4d37;
}

.ui.dimmer {
  top: 60px !important;
  background-color: #16996d;
}

/* Webview-related styles */

#eegView {
  height: 75vh;
}

#eegView.hide {
  visibility: hidden;
}
