/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~font-awesome/css/font-awesome.css';
@import '~semantic-ui-css/semantic.min.css';
@import '~rc-slider/assets/index.css';
@import '~react-toastify/dist/ReactToastify.css';
@import '~lab.js/dist/lab.css';

body {
  position: relative;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  font-family: Lato, Helvetica Neue, sans-serif;
  overflow-y: hidden;
}

h1 {
  font-size: 36px !important;
  letter-spacing: 1.29px !important;
  line-height: 44px !important;
  font-weight: normal !important;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

p {
  font-size: 18px !important;
  letter-spacing: 0.64px !important;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: inherit;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100% !important;
}

#jspsych-image-keyboard-response-stimulus {
  width: 100% !important;
}

button:active {
  transform: scale(0.95) !important;
}

.jspsych-display-element {
  width: 100% !important;
}

/* Semantic UI OVerrides */

.ui.form .field > label {
  font-size: 14px;
}

.ui.card {
  width: auto;
}

.ui.avatar.image {
  width: auto;
}

.ui.modal > .image.content {
  display: block;
}

.info {
  font-size: 16px !important;
  letter-spacing: 0.64px !important;
}

.ui.button.export {
  float: right;
  font-size: 18px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  margin: 0 !important;
  padding: 0 !important;
}

.ui.button.tertiary {
  border-left: 2px solid #ebe8e5 !important;
  font-size: 18px;
  font-weight: normal !important;
  color: #007c70 !important;
  border-radius: 4px;
  border: 2px solid #ebe8e5;
  background-color: rgba(255, 255, 255, 0);
}

.ui.button.tertiary.toggle.active {
  font-size: 18px;
  font-weight: bold !important;
  color: #007c70 !important;
  border-radius: 4px;
  border: 2px solid #ebe8e5;
  background-color: white !important;
}

.ui.secondary.button {
  font-size: 18px;
  font-weight: normal !important;
  color: #007c70 !important;
  border-radius: 4px;
  border: 2px solid #007c70;
  background-color: rgba(255, 255, 255, 0);
}

.ui.secondary.button:hover {
  background-color: #e0fff5;
}

.ui.secondary.button:focus {
  background-color: #e0fff5;
}

.ui.secondary.button:active {
  background-color: #e0fff5;
}

.ui.primary.button {
  font-size: 18px;
  font-weight: normal !important;
  color: #fff;
  border: 2px solid #007c70;
  background-color: #007c70;
  border-radius: 4px;
}

.ui.primary.button:hover {
  background-color: #0b4d37;
}

.ui.primary.button:focus {
  background-color: #0b4d37;
}

.ui.primary.button:active {
  background-color: #0b4d37;
}

.ui.negative.button {
  font-size: 18px;
  font-weight: normal !important;
  border: 2px solid #ca1010;
  border-radius: 4px;
}

.ui.dimmer {
  /* top: 60px !important; */
  background-image: linear-gradient(#43968d, #007c70);
}

.ui.dimmer.inverted {
  background-image: none;
}

.ui.modal > .header {
  border-style: none !important;
}

.ui.modal > .actions {
  border-style: none !important;
}

.ui.sidebar {
  box-shadow: none !important;
  border: 2px solid #e6e6e6 !important;
  transition: width 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease !important;
}

.pusher {
  width: 100%;
  transition: width 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease !important;
  float: right;
}

.ui.sidebar.visible ~ .pusher {
  width: calc(100% - 350px);
}

.ui.selection.dropdown {
  min-width: 50px !important;
}

.ui.multiple.dropdown > .label {
  font-size: 0.8em !important;
}

/* Webview-related styles */

#eegView {
  height: 70vh;
}

#eegView.hide {
  visibility: hidden;
}

/* rc-slider-related styles */

.rc-slider-rail {
  background-color: #cccccc !important;
}

.rc-slider-track {
  background-color: #cccccc !important;
}

.rc-slider-dot {
  width: 10px;
  height: 10px;
  bottom: -3px;
  border-color: #ccc;
  background-color: #ccc;
}

.rc-slider-handle {
  margin-left: -16px;
  margin-top: -16px;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  border: 2px solid #007c70;
  background-color: #007c70;
  transform: none !important;
}

.rc-slider-mark-text {
  font-size: 14px;
  margin-top: 10px;
}

/* HeadDiagram styles */

.channelCircle {
  fill: #fff;
}

.channelCircle:hover {
  fill: #007c70;
  cursor: pointer;
}
