/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~semantic-ui-css/semantic.min.css";

body {
  position: relative;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  font-family: Lato, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.jspsych-display-element {
  width: 50% !important;
}

.ui.card {
  width: auto;
}

.ui.avatar.image {
  width: auto;
}
